<% limit = 20 if local_assigns[:limit].nil? %>
<table class='admin_table nice_margins fitted'>
	<tr><th class='right-align'>Unique Visitors</th><th><%= stat.to_s.humanize %></th></tr>
<%- FunnelCake.engine.global_statistic_results(stat).each_with_index do |doc,i| -%>
	<tr class='<%=alt_row(i)%>'><td class='right-align'><%= doc['value']['count'].to_i %></td><td><%= doc['_id'] %></td></tr>
<%- end -%>
</table>