<%= render :partial => 'canviz_script', :locals=>{:graph_scale=>0.65} %>
<div class="section span-12">
	<h3 id="daterange_label">Date Range</h3>
	<div id="date_slider" class="slider">
	  <div id="handle_min" class="handle left"></div>
	  <div id="handle_max" class="handle right"></div>
	  <div id="slider_span" class="span"></div>  
	</div>
	<p>Node counts represent number of eligible visitors <em>starting</em> in each state during the period.<br/>Edge count represent visitor transitions between states during the period.</p>
	<div id="spinner" class="spinner">
		<img src='/images/ajax-loader.gif' />
	</div>
</div>
<div id="graph" class="section span-12">
	<div class="column span-7">
		<h2>Funnel Diagram</h2>
		<div class="graph_container" id="graph_container" style="float: left;"></div>
	</div>
	<div class="column span-5 last">
		<h2>Primary Conversion Rates</h2>
		<div class="funnel_container" id="funnel_container" style="float: left; width: 200px; height: 800px;">
			<canvas id='funnel_container_chart' width='200' height='800' style='border: 0; padding: 0;'></canvas>
		</div>
	</div>
</div>
<div class="section span-12">
	<div class="debug_output" id="debug_output"></div>
	<div class="section"	id="funnel_info">
		
	</div>
</div>
