<h3>Funnel Events</h3>
<%= render :partial => 'canviz_script', :locals=>{:graph_scale=>0.5} %>
<div id="graph">
	<div class="graph_container" id="graph_container" style="border: 1px solid;"></div>
	<div class="debug_output" id="debug_output"></div>
</div>