div.slider {
	background-color: #AAA;
	height: 2px;
	position: relative;
	width: 300px;
	margin: 10px;
}
div.slider div.handle {
	background-color: #0000AA;
	cursor: move;
	height: 10px;
	position: absolute;
	width: 5px;
	top: -6px;
}
div.slider div.span {
	background-color: #009933;
	cursor: move;
	height: 5px;
	position: absolute;
	width: 8px;
	z-index: -10;
	top: -4px;
}
div.spinner {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 100px;
	left: 400px;	
	z-index: 1000;
}

div.graph_attrs {
	display: none;
}
div.graph_node {
	border: 1px solid #000;
	background-color: #EAEAEA;
}
div.primary {
	border: 1px solid #00F;
	background-color: #DEF;
}
div.graph_edge {
	margin-left: 20px;
}

span.count_stats {
	color: #666;
}
span.rate_stats {
	font-weight: bold;
}
