div.graph_attrs {
	display: none;
}
div.graph_node {
	border: 1px solid #000;
	background-color: #EAEAEA;
	font-size: 11px;
	line-height: 11px;
}
div.primary {
	border: 1px solid #00F;
	background-color: #DEF;
}
div.graph_edge {
	margin-left: 20px;
}

div.funnel_stage {
	width: 100%;
	margin: 0;
	padding: 0;
}
div.funnel_stage_container {
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
}
div.funnel_stage_label {
	width: 100%;
	height: 17px;
	margin: 0;
	padding: 0;
	line-height: 13px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	padding-top: 3px;
}
div.funnel_rate_label {
	line-height: 14px;
	text-align: center;
}
span.count_stats {
	color: #666;
	font-size: 11px;
}
span.rate_stats {
	font-weight: bold;
	font-size: 12px;
}


div.state_graph_container {
	float:left;
	padding-bottom:20px;
	width:325px;
	height:100px;
}
div.state_graph {
	width:325px;
	height:100px;
	position: relative;
	top: 0px;
	left: 0px;
}
div.state_graph_container h3 {
	margin-bottom: 0;
}

table.state_graph_table {
	/* border: 1px solid #000; */
	width: 100%;
	border-collapse: collapse;
}
table.state_graph_table td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ACACAC;
	line-height: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
}
tr.state_graph_table_padded td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
}
tr.state_graph_table_header th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
	font-weight: bold;
}
tr.state_graph_table_headerinfo th {
	font-weight: bold;
}

img.spinner {
	width: 15px;
	height: 15px;
	z-index: 10;
}
img.funnel_chart_spinner {
	top: -100px;
	left: -100px;
	position: absolute;
}
img.state_graph_spinner {
	position: relative;
	top: -100px;
	left: 0px;
}

div.stage_detail {
	float: left;
	border: 1px solid #888;
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding:15px;
	background-color: #F0FAFF;
}
div.stage_detail h3 {
	display: inline;
}

div.visitors_notes td {
	line-height: 15px;
	padding: 0px 10px;
}

div.big_stat {
	background-color: #E0EFFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ACACAC;
	float: left;
	padding: 3px 8px;
	margin: 3px;
}
div.big_stat h2 {
	font-size: 24px;
	margin-bottom: 0.5em;
	padding-bottom: 0em;
	background: none;
	display: inline;
}
div.big_stat h3 {
	display: inline;
	font-size: 16px;
}
