<%- style = '' if local_assigns[:style].nil? -%>
<div class="section span-4">
	<h3 style='display: inline;'>Date Period:</h3>
	<%= select_tag 'date_period',
	  options_for_select([['Monthly','monthly'],['Bi-Weekly', 'biweekly'], ['Weekly', 'weekly']], :selected=>'biweekly'),
		:onchange=>"updateAnalyticsStats($('date_period').value);", :style=>"#{style}"
	%>
</div>