<div class="funnel_diagram_container" id="funnel_diagram_container" style="float: left;"></div>
<img class='spinner' id='funnel_diagram_spinner' src='/images/ajax-loader.gif' />
<p style='float: left'># entered state &rarr; State Name: # eligible to move forward</p>